## CUSTOM

LICENSE
LICENSE.txt

YOLO/test/
YOLO/train/
YOLO/valid/

YOLO/uploads/*
YOLO/runs/*
YOLO/cropped/*
YOLO/results/*

YOLO/*.yaml
YOLO/yolo*.pt
YOLO/usable_models/anime_face.pt

!YOLO/DetectionTest.py
!YOLO/DetectionTestCrop.py
!YOLO/DetectionTestFeatures.py
!YOLO/DetectionTestOutliners.py
!YOLO/DetectionTrain.py

Flask/cropped/*
Flask/cropped/csv/*
Flask/results/*
Flask/uploads/*
Flask/runs/detect/predict/*

!Flask/Flask.py
!Flask/config.py
!Flask/templates

## CUSTOM END