<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona glowna</title>
</head>
<body style="background-color: gray;">
    <h1>DETECT IMAGE</h1>
    <form method="post" action="/detect" enctype="multipart/form-data">
        <select name="model" id="">
            <option value="anime_face.pt">Anime Face</option>
            <option value="anime_face_small.pt">Anime Face Fast</option>
        </select>
        <input type="file" name="file" id="">
        <input type="submit" value="submit">
    </form>
    <form method="post" action="/detectMulti" enctype="multipart/form-data">
        <select name="model" id="">
            <option value="anime_face.pt">Anime Face</option>
            <option value="anime_face_small.pt">Anime Face Fast</option>
        </select>
        <input type="file" name="files" id="" multiple>
        <input type="submit" value="submit">
    </form>
    <form method="post" action="/detectFaceOutliners" enctype="multipart/form-data">
        <select name="model" id="">
            <option value="anime_face.pt">Anime Face</option>
            <option value="anime_face_small.pt">Anime Face Fast</option>
        </select>
        <input type="file" name="files" id="" multiple>
        <input type="number" name="threshold" id="" min="0.0" max="1.0" step="0.01" value="0.7">
        <input type="submit" value="submit">
    </form>
    <!-- {%if userdata and userdata%}
        <h2>Zalogowany: {{userdata[0][0]}}</h2>
    {%endif%}
    <h3>Lista opcji:</h3>
    <ul>
        <li><a href="/login"><button>Login</button></a></li>
        <li><a href="/register"><button>Register</button></a></li>
        {%if userdata and userdata[0][2]=="yes"%}
            <li><a href="/users"><button>Users</button></a></li>
        {%endif%}
        <li><a href="/logout"><button>Logout</button></a></li>
    </ul>
    {%if userdata%}
        <ol> 
        {%for i in range(0, len)%} 
            <li>{{Books[i]}}</li> 
        {%endfor%} 
        </ol>
        <form method="post" action="/addBook">
            <input type="text" name="autor" id="">
            <input type="text" name="title" id="">
            <input type="submit" value="dodaj ksiazke">
        </form>
    {%endif%} -->
</body>
</html>